<div id="<%= dom_id load %>">
  <p>
    <strong>Order number:</strong>
    <%= load.order_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= load.quantity %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= load.notes %>
  </p>

  <p>
    <strong>Ship date:</strong>
    <%= load.ship_date %>
  </p>

</div>
