<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">LMS Testing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
                <div class="d-flex justify-content-between w-100 flex-column flex-sm-row my-xs-2">

                <ul class="navbar-nav">
                    <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
                    <% if signed_in? %>
                    <li class="nav-item"><%= link_to "Loads", loads_path, class: 'nav-link' %></li>
                    <% end %>
                </ul>

                <div class="navbar-nav">
                    <% if signed_in? %>
                        <%= link_to destroy_user_session_path, data: {'turbo-method': :delete, turbo_confirm: 'Sign out, are you sure?' }, class: 'btn btn-secondary' do %>
                        <%= current_user.email  %>
                        <% end %>
                    <% else %>
                    <%= button_to 'Login with your Microsoft Azure Account', user_azure_activedirectory_v2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary' %>
                    <% end %>
                </div>
                </div>
            </div>
         
    </div>
    

</nav>