<nav class="navbar navbar-expand-lg bg-body-tertiary  bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">Azure Testing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
                <div class="d-flex justify-content-between w-100 flex-column flex-sm-row my-sm-2">

                <ul class="navbar-nav">                    
                    <% if signed_in? %>
                    <li class="nav-item"><%= link_to "Loads", loads_path, class: 'nav-link' %></li>
                    <% end %>
                </ul>

                <div class="navbar-nav">
                    <% if signed_in? %>
                        <%= link_to destroy_user_session_path, data: {'turbo-method': :delete, turbo_confirm: 'Sign out, are you sure?' }, class: 'btn btn-secondary' do %>
                        <%= current_user.email  %> <i class="bi bi-box-arrow-right"></i>
                        <% end %>
                    <% else %>
                    <%= button_to user_azure_activedirectory_v2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary' do %>
                    Login with your Microsoft Azure Account <i class="bi bi-door-open-fill"></i>
                    <% end %>
                    <% end %>
                </div>
                </div>
            </div>
         
    </div>
    

</nav>